#img-profile{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 20px rgb(22, 20, 20);
    border: 6px solid #e4e3ce ;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.4)
    }
    .container{
        width: 700px;
        margin: 40px auto;
        border-radius: 20px;
        box-shadow:4px 4px 30px rgb(0,0,0,0.1);
        background: rgb(248, 246, 239);
        background-image:linear-gradient(to botto) url("https://images.unsplash.com/photo-1508285007499-8274a7bad68f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=422&q=80");
        background-size: cover;
    }